/* 
	Quick little boilerplate with resets and blah blah blah --- 
	BOOTSTRAP is overkill for this project.

	I wanted to go with sass compilation and npm install node-sass,
	but (for speed sake) I opted for vanilla CSS ;)

	Author: Julian Hansby;
	Email Addy: hansbyj@yahoo.com; 
*/

/* ============================== GENERIC ============================== */

body,html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;	
}

a {
	color: #222;
	text-decoration: none;
}

input {
	border: 1px solid #555;
	width: 96%;
	padding: 2%;
}

p { text-align: justify }

li { text-align: center }

	li span { padding: 3% }	

	li.active { background-color: #eaeaea  }

h1,h2 {
	font-size: 1.1em;
	color: #222;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.btn {
	border-radius: 4px;
	text-align: center;
}

.no-border { border: none !important }

.donate-btn {
	border: 1px solid #029802;
	text-align: center;
	color: #fff;	
}

.barColor, .donate-btn, .completed { background-color: #09bb07 !important }

.container, .row, h1, h2 {
	margin: 0;
	padding: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	z-index: 998;
}

.close-btn {
	font-size: 1.2em !important;
    position: absolute;
    right: 15px;
    top: 10px;
    color: #fff !important;
    background-color: #000;
    border-radius: 100%;
    padding: 2% 3%;
    line-height: 1em;
    font-weight: bold;
}

.modal {
	background-color: #fff; 
	position: absolute;
	z-index: 999;
	width: 100%;
	max-width: 600px;
	height: 400px;
	top: 10%;
	left: 50%;
	margin-left: -330px;
	padding: 5%;
	border-radius: 4px;
	box-shadow: 0px 1px;
}

	@media screen and (max-width: 480px){
		.modal {
			width: 80%;
			left: 0;
			margin: 0 5%;
		}
	}

	.modal button {
		width: 100% !important; 
		font-size: 1em;
		margin: 8px 0 0 0 !important;
		padding: 10px 0;
	}	

/* ============================== HEADER ============================== */

.header {
	margin: 0;
	position: relative;
	color: #fff;
}

	.header h1 {
		font-size: 1.1em;
		padding: 3%;
	}

	.header h3 {
		float: left;
    	font-size: 1.3em;
    	padding-left: 12px;
    	width: 70%;
	}

	.header .main-img {
		width: 100%;
		display: block;
	}

	.header .top, .header .bar-data { position: absolute } 

		.header .top {
			top: 15px;
			left: 15px;			
		}

		.header .bar-data {
			bottom: 20px;
			width: 90%;
    		margin: 0 5%;
		}

			.header .bar-data .pb-holder {
				position: relative;
				width: 100%;
			    height: 15px;
			    background-color: #ddd;
				border-radius: 12px;
			}

				.header .bar-data .pb-holder .inner-bar {
					position: absolute;
				    height: 15px;
				    background-color: #09bb07;
					border-radius: 12px;
				}

				.header .bar-data .pb-holder .arrow-bubble {
					width: 50px;
					height: 22px;
					background-color: #fff;
					position: absolute;
					top: -40px;
					z-index: 999;
					text-align: center;
					padding: 5px;
					border-radius: 8px;
					margin-left: -35px;
					color: #222;
				}

				.shiftBubbleLeft { margin-left: -15px !important }
				.shiftBubbleRight {
					width: 60px !important;
					margin-left: -55px !important;
				}

				.header .bar-data .pb-holder .arrow-down {
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-top: 8px solid #fff;
					position: absolute;
					top: -10px;
					margin-left: -11px;
				}

				.shiftArrowDown { margin-left: -5px !important }		

			.header .bar-data .stats { margin-top: 10px }

				.header .bar-data .stats .item {
					float: left;
					width: 33%;
				}

				.stats span { font-size: 0.9em }				

				span.big-font {
				    font-size: 1.6em !important;
				    display: block;
				}				

		.header .bar-data .stats .item { float: left }	

		.wwf-logo { float: left }

	.header .background-image { background-color: #222 }
		.header .background-image img { opacity: 0.5 }

/* ============================== TABS ============================== */

.tabs {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
}

	.tabs li {
		float: left;
		padding: 2.5% 0;
		width: 32%;
	}

		.tabs li:nth-child(2) {
			border-right: 1px solid #ddd;
			border-left: 1px solid #ddd
		}

/* ============================== CONTENT ============================== */

.data-content {
	border-bottom: 2px solid #ddd;
	padding: 8% 4%;
}

	.data-content .top { position: relative }
	
	.data-content img {
		border-radius: 50%;
		padding: 0px 10px;
		width: 59px;
		height: 59px;
		margin-bottom: 0;
		position: absolute;
		left: -5px;
    	top: 5px;
		z-index: 998;
	}

	.data-content span {
		display: block;
		font-size: 0.8em;
		color: #aaa;
		text-transform: uppercase;		
	}

	.data-content strong { font-size: 0.8em }

	.data-content .pill {
		background-color: #bbb;
		border-radius: 30px;
		margin-top: 10px;
		text-align: center;
		line-height: 1.5em;
	}

		.data-content .pill span {
			display: inline-block;
			color: #fff;
			width: 45%;
			text-transform: none;		
		}

			.data-content .pill span:first-child { border-right: 1px solid #fff  }
	
	.data-content .bottom-toolbar { margin-top: 5% }

/* ============================== DETAIL VIEW ============================== */

.detail-page { background-color: #f8f8f8 }

	.detail-page .data-content { padding: 4% }

	.detail-page .back-link {
		margin-top: 0;
		text-decoration: underline;
		font-size: 0.9em;
	}

	.detail-page button {
		width: 90%;
		margin: 0 5%;
		padding: 2% 0;
		font-size: 1em;
	}

	.detail-page .bottom-toolbar {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #fff;
		padding: 5% 0;
	}